---
layout: base.pug
---

p Coalition Against Apartheid is a student group at MIT focused on advancing anti-colonial and anti-apartheid organizing on campus. We support the liberation of all peoples, with a focus on the Israeli occupation of Palestine. In addition to working for administrative and institutional change, we hold events on campus that range from social to educational.

p
  | Reach out to us through email: 
  a(href='mailto:caa-www@mit.edu') caa-www@mit.edu
  | .