html {
    color: #000;
    background-color: #E8E8E8;
    font-family: 'Atkinson Hyperlegible', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4rem;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    margin-top: 2em;
    text-align: center;
}

.wall {
    background: url('/images/wall.png');
    background-size: auto 100%;
    background-position: center;
    height: 5em;
}

h1 {
    margin: 20px 0 10px;
}

p {
    line-height: 1.6;
}

h2 {
    margin: 10px 0 5px;
}

p {
    margin: 8px 0;
}

.container {
    padding: 10px 20px;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 40rem;
    width: 100%;
}

.social {
    display: inline-flex;
}

.social img {
    display: inline;
    height: 1.25em;
    width: auto;
    margin: 0 0.4em;
}

.aligned {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: inherit;
    font: inherit;
    text-decoration: underline solid 2px crimson;
}

.date {
    opacity: 0.7;
}

header {
    padding: 10px 20px;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: end;
}

nav ul {
    display: contents;
}

nav ul li {
    display: contents;
}

nav a {
    text-decoration: 1px dashed underline;
    font-weight: bold;
    font-size: 1.25em;
}

nav ul > :first-child a {
    flex: 1;
}

blockquote {
    font-style: italic;
}

ol,
ul {
    margin-top: 0;
}

.blog-list li {
    margin-bottom: 20px;
    font-weight: bold;
}

.blog-list .date {
    font-weight: normal;
}

hr {
    width: 100%;
}