---
title: MIT Coalition Against Apartheid
thumbnail: '/images/thumbnail.png'
subtext: MIT student group in opposition to colonialism, imperialism, and apartheid in Palestine and beyond 🇵🇸
---

doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content=subtext)
    meta(name='og:description' content=subtext)
    title !{title}
    meta(property='og:image' content=thumbnail)
    meta(property='og:title' content=title)
    meta(property='og:type' content='website')
    meta(property='og:site_name' content='caa.mit.edu')
    meta(name='twitter:card' content='summary_large_image')
    link(href='/style.css' rel='stylesheet')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap' rel='stylesheet')
    link(rel='icon' href='/images/logo.png')
  body
    header
      nav
        ul
          li
            a(href='/') MIT Coalition Against Apartheid
          li
            a(href='/pledge') Pledge
          li
            a(href='/blog') Blog
          li
            a(href='/teach-in') Teach-ins
    main.container
      | !{content}
    footer
      .container.aligned
        a.social(href='https://instagram.com/mit_caa' alt='Instagram' title='Instagram')
          img(src='/images/instagram.svg' height='28px' width='28px')
        a.social(href='https://twitter.com/mit_caa' alt='Twitter' title='Twitter')
          img(src='/images/twitter.svg' height='28px' width='28px')
        a(href='https://accessibility.mit.edu/' target='_blank') Accessibility
      .wall