---
layout: base.pug
---

ol(reversed).blog-list
  each post in collections.teachin.reverse()
    li
      a(href=post.url) !{post.data.title}
      .date !{post.data.date.toLocaleDateString("en-US", {timeZone: "America/New_York"})}